@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/contact/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ed270d;
  text-shadow: 1px 1px 10px #ec8c0e;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.contact-list{
width:930px;
max-width:90%;
margin-top: 75px;
margin-left: auto;
margin-right: auto;
display:flex;
flex-direction: column;
}

.contact-list img{
  width:50%;
}

.contact-list li{
  display: flex;
  flex-direction: row;
  padding-top:10px;
  padding-bottom: 10px;
}

.info{
  text-align: center;
  margin: 30px;
  width:50%;
}

.info dl {
  margin-top: 20px;
}

.info dt {
  font-weight: bold;
}

.info dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}


.link-button{
  background-color:#f4dd64;
  display:inline-block;
  min-width:180px;
  line-height:48px;
  border-radius:24px;
  font-family: 'Montserrat',sans-serif;
  font-size:14px;
  text-align:center;
  margin-top:20px;
  cursor:pointer;
  border:none;
}


.footer{
  margin-top:100px;
}

@media(max-width:800px){
  .contact-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 45px;
  }

  .contact-list li{
    display: flex;
    flex-direction: column;
    width:97%
  }

  .contact-list img {
    width: 94%;
    margin: 10px 10px;
    line-height: 2;
  }

  .info{
    width: 94%;
    height:auto;
    margin: 10px 10px;
  }

}